{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  {% if 'create' in request.path %}
     Rédiger l'article
  {% else %}
     Modifier l'article
  {% endif %} 
{% endblock title %}

{% block content %}


{% if request.user.is_authenticated %}
  

<div class="col-4 offset-4 mb-5 mt-5">
  <h3 class="text-center text-primary">{{ titre }}</h3>

  {{ form.media }}
  <form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form|crispy }}

    <button type="submit" class="btn btn-primary">
    {% if 'create' in request.path %}
       Editer
    {% else %}
       Modifier
    {% endif %} 
    </button>
  </form>
</div>
<div></div>
<div></div>

{% else %}

  <div class="container">
    <p>Vous n'êtes pas autorisé(e) à accéder à cette page !</p>
  </div>
  
{% endif %}

{% endblock content %}
